<!-- @format -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Pag</title>
  </head>
  <body>
    this is home page this is home pagethis is home pagethis is home pagethis is
    home pagethis is home pagethis is home pagethis is home pagethis is home
    pagethis is home pagethis is home pagethis is home pagethis is home pagethis
    is home pagethis is home pagethis is home pagethis is home pagethis is home
    page
    <img
      src="http://127.0.0.1:8000/static/birds.jpg"
      alt="birds"
      height="100px"
      width="100px" />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempore.
      Eligendi maxime velit laudantium similique dicta quae inventore? Itaque
      enim necessitatibus architecto cumque deleniti consequatur. Aspernatur
      architecto, asperiores a ipsum corporis dolores magnam eveniet rerum
      mollitia sapiente iste perferendis modi.
    </p>

    <!-- <p>{{users}}</p> -->
    <!-- for starting forloop -->
    <!-- {% for user in users %} -->

    <p>this is usr info: {{users.name}} - {{users.email}}</p>

    <!-- for closing for loop -->
    <!-- {% endfor %} -->
  </body>
</html>
